* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

body {
  background-color: #f5f5f5; }

.font-small {
  font-size: .8rem; }
  a:hover{
  text-decoration:none;
  }
.lizhao_header + .lizhao_header::before {
  content: "|"; }

.lizhao_header3 {
  width: 75%;
  height: 33px;
  border: solid 1px #0aa1ed;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.lizhao_footer5 li a {
  font-size: .8rem;
  color: #808080; }

.lizhao_footer5 li {
  text-align: center; }
  .my_footer{
  height:597px;
  }
@media screen and (min-width:992px){
.my_footer_h{
width:100%;
height:605px;
}
.my_header_h{
width:100%;
height:152px;
}
}
@media screen and (max-width:991px){
.my_footer_h{
width:100%;
height:770px;
}
.my_header_h{
width:100%;
height:254px;
}
}
.lizhao_border{
border-bottom:2px solid #808080;
}
.index_zhu,.index_zhu_a{
height:388px;
}
.index_zhu_b,.index_zhu_c{
height:233px;
}
.lizhao_zhu div:before{
content:"";
display:table;
}
.index_zhu,.index_zhu_a,.index_zhu_b{
background-color:#e8e8e8;
}

.index_zhu div{
width:300px;
height:250px;
margin-top:50px;
margin-left:50px;
}
.index_zhu_a div{
width:250px;
height:250px;
margin-top:50px;
margin-left:50px;
}

.index_zhu_b div{
width:250px;
height:250px;
margin-top:50px;
margin-left:50px;
}

.index_zhu_c>div>div{
height:233px;
background-color:#e8e8e8;
}


.index_zhu>div>h3,.index_zhu_a>div>h3{
font-weight:normal;
}
.index_zhu_b>div>h3{
font-size:22px;
font-weight:blod;
}
.index_zhu_c>div>div>div>div>p{
font-size:0.8rem;
}
.index_zhu_c>div>div>div>span{
font-size:24px;
color:#0AA1ED;
margin-top:-15px;
}
.index_zhu_c>div>div>div>a{
display:block;
width:102px;
height:28px;
line-height:28px;
font-size:14px;
background-color:#0AA1ED;
text-align:center;
color:#fff;
}
.index_zhu>div>p,.index_zhu_a>div>p{
font-size:.8rem;
color:#808080;
}
.index_zhu>div>span,.index_zhu_a>div>span,.index_zhu_b>div>span{
font-size:24px;
color:#0AA1ED;
}
.index_zhu>div>a,.index_zhu_a>div>a,.index_zhu_b>div>a{
display:block;
width:130px;
height:40px;
line-height:40px;
background-color:#0AA1ED;
text-align:center;
color:#fff;
}
.index_zhu>div>a:hover{
text-decoration:none;
}
.index_zhu_a>div>a:hover{
text-decoration:none;
}
.index_zhu_b>div>a:hover{
text-decoration:none;
}
.index_zhu_c>div>div>div>a:hover{
text-decoration:none;
}

.index_zhu>img{
margin-top:-250px;
margin-left:200px;
width:388px;
height:302px;
transition:1s;
}

.index_zhu_a>img{
width:286px;
height:248px;
margin-top:-200px;
margin-left:130px;
transition:1s;
}
.index_zhu_b>img{
width:198px;
height:136px;
margin-top:-400px;
margin-left:230px;
transition:1s;
}
.index_zhu_b>img:hover{
width:210px;
height:150px;
}
.index_zhu_a>img:hover{
width:300px;
height:260px;
}
.index_zhu>img:hover{
width:400px;
height:314px;
}
.index_zhu_c>div>div>img{
width:198px;
height:136px;
transition:1s;
}
.index_zhu_c>div>div>img:hover{
width:210px;
height:140px;
}
.lizhao_com1{
width:100%;
height:40px;
background-image:linear-gradient(to bottom,#efefef 0%,#e0e0e0 100%);
padding-left:20px;
}
.lizhao_com3{
width:100%;
height:40px;
background:#666666;
}
.lizhao_com3>span:last-child{
width:100px;
line-height:40px;
font-size:18px;
}
.lizhao_com2{
width:100%;
height:40px;
background-image:linear-gradient(to bottom,#efefef 0%,#e0e0e0 100%);
}
.lizhao_com2>.pagination{
float:right;
margin-right:20px;
}
.lizhao_com2>.pagination>li+li{
margin-left:10px;
}
.lizhao_com2>.pagination>li>a{
font-size:10px;
}
.lizhao_com2>.pagination>li>a:hover{
border:1px solid #0AA1ED;
border-radius:2px;
}
.lizhao_com1>p{
line-height:40px;
font-weight:bold;
}
.lizhao_product1>div>img{
width:230px;
height:230px;
transition:1s;
}
.lizhao_product1>div>img:hover{
width:240px;
height:240px;
}
.lizhao_product1>div{
width:250px;
height:372px;
}
.lizhao_product1>div>span{
width:100%;
color:#0AA1ED;
font-weight:bold;
display:block;
text-align:left;
}
.lizhao_gouwu>li{
border-bottom:1px dashed #666666;
}
.lizhao_product1>div>div>div>button{
width:24px;
height:24px;
border:0;
outline:0;
font-size:20px;
color:#fff;
font-weight:bold;
line-height:20px;
}
.lizhao_gouwu>li>button{
width:20px;
height:20px;
border:0;
outline:0;
font-size:20px;
color:#fff;
font-weight:bold;
line-height:20px;
border-radius:3px;
}
.lizhao_product1>div>div>div>button:hover,.lizhao_gouwu>li>button:hover{
background-color:#666666;
}
.lizhao_gouwu>li>span:first-child{
width:90px;
}
.lizhao_product1>div>div>div>input,.lizhao_gouwu>li>input{
width:10px;
height:24px;
border:0;
}
input:focus{
border:0;
outline:0;
}

.lizhao_product1>div>div>div>a{
width:150px;
height:35px;
background-color:#0AA1ED;
text-align:center;
line-height:35px;
color:#fff;
}
.lizhao_product1>div>div>div>a:hover{
text-decoration:none;
background-color:#0bb1ED;
}
.lizhao_product_right ul>li>a:hover{
text-decoration:none;
}
.text-black{
color:#000;
}
.lizhao_datu>div>div>ul{
width:100%;
}
.lizhao_datu>div>div>ul>li>a>img{
width:84px;
height:84px;
}
.lizhao_datu>div>div>ul>li>a>img:hover{
border:1px solid;
}
.lizhao_datu>div>div>div{
width:100%;
height:470px;
background:#fff;
text-align:center;
}
.lizhao_datu>div>div>div>img{
width:460px;
height:460px;
transition:1s;
}
.lizhao_datu>div>div>div>img:hover{
width:470px;
height:470px;
}
.lizhao_jianbain{
background: -webkit-linear-gradient(top, #f5f5f5 0%, #e0e0e0 100%);
box-shadow:0px 0px 10px 10px #e6e6e6;
}
.lizhao_guige>li>a{
color:#666666;
border:1px solid #000;
}
.lizhao_guige>li>a:hover{
box-sizing:border-box;
border:1px solid #0aa1ed;
}
